:root{
    --vermelhinho: #9F301F;
    --branquinho: #FFFFFF;
    --cinzinha: #F5F5F5;
    --cinzinha2: #828282;
    --laranjinha: #F19031;
    --marronzinho: #412E20;
    --pretinho: #0C0C0C;
}

.body_normal{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--branquinho);
}
.body_dark{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--pretinho);
}

/***********************HEADER****************************/
.menu_navegacao{
    width: 100%;
    background-color: var(--vermelhinho);
    color: var(--branquinho);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
}
.lista_navegacao{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}
.menu_navegacao>h1{
    margin-left: 10%;   
}
.lista_navegacao >li{
    text-decoration: none;
    color: var(--branquinho);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}
.lista_navegacao>li:hover{
    cursor: pointer;
    font-size: large;
    font-weight: bolder;
    transition: all 0.7ms;
}

/*********************MAIN(ONDE OS PRODUTOS FICARAO)**********************/
main{
    display: flex;
}
.secao_produtos{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vh;
    
}
.card_produto{
    width: 25%;
    height: 60vh;
    border: 2px solid var(--cinzinha);
    margin-left: 4vw;
    margin-top: 3vh;
    margin-bottom: 3vh;

}
.card_produto:hover{
    box-shadow:0 0 30px 2px var(--laranjinha);
    transform: scale(105%);
    transition: all 0.3s;
}
.div_imagem{
    background-color: var(--cinzinha);
    display: flex;
    justify-content: center;
}
.div_texto{
    height: 54%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}
.div_texto>.categoria{
    background-color: var(--vermelhinho);
    color: var(--branquinho);
    width: 30%;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_texto>.card_price{
    color: var(--laranjinha);
}
.div_texto>a{
    color: var(--cinzinha2);
}

/*********************CARRINHO DE COMPRAS**********************/

.menu_lateral{
    width: 20%;
    margin: 13vh 75% 0;
    position: fixed;
}

.pesquisa>input{
    width: 71%;
    height: 6vh;
    border-style: none;
    background-color: var(--cinzinha);
}
.pesquisa>input:hover{
    padding-left: 10px;
    font-size: 90%;
    transition: all 0.3s;
}
.pesquisa>input:focus{
    padding-left: 10px;
}
.pesquisa>button{
    width: 25%;
    height: 6vh;
    margin-left: 5px;
    background-color: var(--laranjinha);
    color: var(--branquinho);
    border-style: none;
}
.menu_lateral>.title{
    margin-top: 10px;
    width: 100%;
    height: 6vh;
    background-color: var(--laranjinha);
    color: var(--branquinho);
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_lateral>.carrinho_compras{
    width: 100%;
    height: 40vh;
    background-color:var(--cinzinha);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}
.carrinho_compras_dark{
    width: 100%;
    height: 40vh;
    background-color:var(--pretinho);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}
.carrinho_compras > div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.carrinho_compras > div> .titulo{
    font-size: 25px;
}
.menu_lateral>.preco_total{
    width: 100%;
    height: 15vh;
    background-color: var(--marronzinho);
    color: var(--branquinho);
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    
}
.menu_lateral>.preco_total>span{
    margin: 10px 40px;
}

.item_adicionado{
    width: 96%;
    height: 13vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.item_adicionado > div > img{
    width: 5vw;
    height: 10vh;
}
.item_adicionado>.divTxt{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.item_adicionado>.divTxt>h2{
    margin: 0;
    font-size: 130%;
}
.item_adicionado>.divTxt>span{
    margin: 0;
    font-size: 85%;
}
.item_adicionado>.divTxt>a{
    margin: 0;
    font-size: 85%;
}